* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}
