.display{
    &>div{

        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width:900px) {
        overflow: scroll;
        padding: 2rem;
        background-color: rgb(204, 204, 204);
        margin-bottom: 1rem;
        height: calc(100vh - 25rem);
    }
}

.theme{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.123);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 700px;
    margin: 1.5rem auto ;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-around;
    &>div{
        text-align: center;
    }
}

.btnGroup{
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 1rem;
}