.flex{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    @media screen and (max-width:500px) {
        flex-direction: column;
    }
}

.fullWidth{
    flex: 1;
}

.label{
    font-family: 'Roboto';
    font-weight: 400;
}

